<!-- Header start -->
  <div id="navbar">
    <nav class="navbar">

                        <!--/.header-->
                        
                    	<!-- header start  -->
<div class="header">

    	
    	<div class="ncbi_logo">
		<a href="https://www.ncbi.nlm.nih.gov/" target="_blank">
			<img title="NCBI Home Page" src="/template/static/img/ncbi_logo1.png">
		</a>
	</div>
    	
	<!-- Replace NCBI URL with your link -->
	<div class="res_logo">
		<h1 class="res_name">
	        	<a href="https://www.ncbi.nlm.nih.gov/" title="Your title here" id="toolkit_header">
				Your title here
			</a>
		</h1>
	</div>
    
	<div style="position: absolute; height: 80px; right: 120px; top: 0; width: 50%" class="search" align="top">
        	<form name="frmSymbolSearch" onsubmit="return SymbolSearch(&#39;toolkit&#39;)" action="https://ncbi.github.io/" id="frmSymbolSearch">
		<table style="width: 100%">
      <tbody><tr>
			<td colspan="5">
				<input id="search_box" name="__symbol" placeholder="Search..." onkeypress="SymbolSearchKeyPress(&#39;toolkit&#39;,event)" type="text">
				<label for="search_box" class="offscreen_noflow">Search term</label>
				<div id="button-holder">
					<img src="/template/static/img/search_icon.png" onclick="javasrcipt:SymbolSearch(&#39;toolkit&#39;);">
				</div>
			
		</td></tr>
      
		<tr class="option">
			<td width="0%"><nobr><input checked="checked" name="__symboloc" id="book_search" style="margin-left: 2em;&gt; &lt;label title=" search="" in="" this="" book"="" for="book_search" type="radio" onclick="toggleInHouseCheckbox(&#39;hidden&#39;);"> Book			</nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="toolkit" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Search in the C/C++ source code" for="toolkit">Code</label></nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="pLXR" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Search the symbol in the source code using LINUX Cross-Reference browser" for="pLXR">LXR</label></nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="pLib" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Locate the Toolkit library(es) where the symbol is defined" for="pLib">Library</label></nobr>
			</td>
			<td width="100%">
				<nobr id="switch_nobr" style="visibility: hidden;"><input name="switch" id="switch" style="margin-left: 30%;&gt; &lt;label title=" test"="" for="switch" align="right" type="checkbox"><label for="switch">In house</label></nobr>
			</td>
		</tr>

		
		</tbody></table>
		</form>
	</div>

 </div>   

    </nav>
	
	<nav class="navbar2">
	
                      
	<div class="nvgtn">
	
		<a style="float:left; padding-left: 50px;" class="jig-ncbipopper" href="https://ncbi.github.io/template/pages/test#__nav_cntnt" role="button" aria-expanded="false" aria-haspopup="true">Contents ▾</a>
		<div id="__nav_cntnt" style="width: 700px; height: 600px; overflow: scroll; top: -100px; left: -100px; display: none; max-height: 600px;" class="ui-helper-reset ui-ncbipopper-wrapper ui-ncbipopper-basic">
			<a href="https://ncbi.github.io/template/" class="right">Table of Contents Page</a>
			<ul class="simple-list">

				<li class="half_rhythm">
					<a href="https://vserova.github.io/template/pages/part1">Part 1</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://vserova.github.io/template/pages/chapter1.html">Chapter 1</a>
						</li>
						<li class="half_rhythm">
							<a href="https://vserova.github.io/template/pages/chapter2.html">Chapter 2</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://vserova.github.io/template/pages/part2">Part 2</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://vserova.github.io/template/pages/chapter3.html">Chapter 3</a>
						</li>
					</ul>
				</li>
				
			</ul>
		</div>
		
		<div>
			<a style="float:right; padding-right: 50px;" href="https://github.com/ncbi/template/edit/gh-pages/{{ page.path }}"><img alt="Edit this page" src="/template/static/img/button_edit_grey.gif"></a>
			<a style="float:right; padding-right: 50px;" target="_blank" href="/template/help_page">How to edit the page</a></div>			
		</div>

	</div>
	</nav>
	
  </div>	
  <!-- Header end -->	
